In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("netflix_data.csv")
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas

In [3]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
duration           0
description        0
genre              0
dtype: int64

### Q1: In the netflix dataset replace all null values present in country column with united states.

In [4]:
data["country"].replace(np.nan, "United States",inplace=True)

In [6]:
data.head(n=100)

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
...,...,...,...,...,...,...,...,...,...,...,...
95,s96,TV Show,28 Moons,NaN,"Jin-sung Yang, Kyu-jong Kim, Tae-hwan Kang, Ge...",South Korea,"June 10, 2017",2016,1,When her fiancé acts strangely upon receiving ...,International TV
96,s97,Movie,3 Days to Kill,McG,"Kevin Costner, Amber Heard, Hailee Steinfeld, ...",United States,"December 1, 2020",2014,117,A terminally ill secret agent accepts a risky ...,Action
97,s98,Movie,3 Deewarein,Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ...",United States,"December 31, 2019",2003,121,A reporter interviews three convicts on death ...,Dramas
98,s99,Movie,3 Generations,Gaby Dellal,"Elle Fanning, Naomi Watts, Susan Sarandon, Tat...",United States,"August 28, 2017",2015,92,When teenage Ray begins transitioning from fem...,Dramas
99,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,"January 5, 2019",2016,124,Three Indonesian women break records by becomi...,Dramas

In [7]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country            0
date_added        10
release_year       0
duration           0
description        0
genre              0
dtype: int64

# Q2: Show 10 countries with most tv-shows and movies

In [8]:
country = data.groupby("type")["country"].value_counts()
print(country['Movie'].head(10))
print(country['TV Show'].head(10))

country
United States     2330
India              883
United Kingdom     341
Canada             175
France             137
Spain              119
Egypt               93
Mexico              79
Turkey              78
Japan               75
Name: country, dtype: int64
country
United States     1060
United Kingdom     236
Japan              162
South Korea        152
Canada              84
India               73
Taiwan              70
France              59
Australia           52
Spain               49
Name: country, dtype: int64

# Q3: Count of movies released in year respective years. example

In [9]:
Count_of_movies = data.groupby("type")["release_year"].value_counts()
print(Count_of_movies["Movie"])

release_year
2017    744
2018    734
2016    642
2019    582
2020    411
       ...
1947      1
1959      1
1963      1
1964      1
1966      1
Name: release_year, Length: 72, dtype: int64

# Q4: Similarly, count of tv-shows released in there respective years.

In [10]:
Count_of_tv_shows = data.groupby("type")["release_year"].value_counts()
print(Count_of_tv_shows["TV Show"])

release_year
2020    457
2019    414
2018    387
2017    268
2016    240
2015    159
2014     90
2013     65
2012     61
2011     39
2010     37
2009     34
2008     23
2021     19
2006     13
2007     13
2005     12
2003      9
2004      9
1999      7
2002      6
1993      4
1997      4
1998      4
2000      4
2001      4
1990      3
1996      3
1986      2
1988      2
1992      2
1995      2
1925      1
1946      1
1963      1
1967      1
1968      1
1972      1
1974      1
1977      1
1979      1
1981      1
1985      1
1989      1
1991      1
1994      1
Name: release_year, dtype: int64